@tailwind base;
@tailwind components;
@tailwind utilities;

.firebase-emulator-warning {
  display: none;
}

a {
  @apply text-blue-700;
}

label {
  margin: 0 0.5em;
  font-weight: bold;
}

code {
  background-color: #eee;
  padding: 2px 4px;
  border-radius: 4px;
  color: #304455;
}
